/* .error {
    color: darkred;

}
p.error {
    text-shadow: 2px 2px black;
}

p.feedback{
    text-shadow: 2px 2px rgb(138, 233, 138);
}
p.success.feedback {
    border: 1px dashed darkslategray;
}

div#content {
    background-color: #ec7c7c;
    padding: 20px;

} */

/* div .error{
    color: purple;
} */
/* 
a[href="https://google.ca"]{ 
    background-color: greenyellow;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

a[href$=".com"]{ 
    background-color: red;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

} */


div {
    color: coral;
    border: 1px dashed darkslategray;
    margin: 40px;
    font-weight: bold;
}

div p {
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color:orange;

}